body{
padding:25px;
}

input:focus{
    outline: none;
}

form{
    width: 35%;
    height: 650px;
    margin-left:auto;
    margin-right:auto;
    padding:50px;
    background:white;
    border-radius:5px;
    position:relative;
    font-family: 'Libre Franklin', sans-serif;
}

form > div {
    float:left;margin-bottom:30px;
}
form > div > p{
    font-size: 12px;margin-bottom: 3px;
}

form > div > input{
    font-size:12px;letter-spacing:1px;padding:  5px;border: 0;background:  white;border-bottom: 1px solid silver;width: 100%;color: gray;
}

form > p:last-of-type{
    text-align: center;padding-top: 50px;display:  table;width: 100%;color:white;
}

form > p > button{
    background-color: transparent; 
    border-color: transparent; 
    cursor: default;
    pointer-events: auto (default);
}

form > p:last-of-type > button:last-of-type > a{
    cursor:pointer;border:0;
    padding: 10px 25px;
    background:  #4a89dc;
    border-radius:  28px;
    font-size: 12px; 
    color: white;
}

form > p:last-of-type > a{
    cursor:pointer;border:0;
    padding: 10px 25px;
    background:  #4a89dc;
    border-radius:  28px;
    font-size: 12px; 
}

.term{
    padding-top:40px;display: flex;width:  100%;align-items:  center;
}

.term > i{
    cursor:pointer;width:20px;
}

.term > span{
    font-size:12px;
}

/* delete */
form > a:last-of-type{
    position:absolute;
    bottom: 10px;
    right: 15px;
    font-size:  10px;
    letter-spacing:  1px;
    font-style: italic;
}